.form {
  max-width: 600px;
  width: 95%;
  margin: 5rem auto 0 auto;
}

.form .fieldset {
  margin: 2rem 0;
  border: 1px solid #e1e1e1;
  font-size: 2rem;
  padding: 2rem;
}

.field {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.field label {
  flex: 0 0 150px;
  font-size: 1.8rem;
}

.field input,
.field textarea {
  flex: 1;
  padding: 1rem;
}

.field textarea{
  height: 400px;
}

.inputSubmit {
  background-color: var(--orange);
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.inputSubmit:hover {
  cursor: pointer;
}

.error {
  background-color: red;
  padding: 1rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
