.container {
  max-width: 1200px;
  width: 95%;
  padding: 5rem 0;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .containerProduct {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
  }
}

.h2Comments {
  margin: 2rem 0;
}

.field {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.field input {
  flex: 1;
  padding: 1rem;
}

.inputSubmit {
  background-color: var(--orange);
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.inputSubmit:hover {
  cursor: pointer;
}

.button {
  display: block;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #d1d1d1;
  padding: 0.8rem 2rem;
  margin: 2rem auto;
  text-align: center;
}

.button:last-of-type {
  margin-right: 0;
}

.button:hover {
  cursor: pointer;
}

.buttonDark {
  color: white;
  background-color: #da552f;
}

.buttonLight {
  color: #000;
  background-color: white;
}

.divVotes {
  margin-top: 5rem;
}

.nVotes {
  text-align: center;
}

.comment {
  border: 1px solid #e1e1e1;
  padding: 2rem;
}

.comment span {
  font-weight: bold;
}
