.formSearch {
  position: relative;
}

.inputText {
  border: 1px solid var(--grey3);
  padding: 1rem;
  min-width: 300px;
}

.inputSubmit {
  height: 2.9rem;
  width: 3rem;
  display: block;
  background-size: 4rem;
  background-image: url("/static/img/search.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 1rem;
  top: 1px;
  background-color: white;
  border: none;
  text-indent: -9999px; /* Para ocultar el texto del button */
}

.inputSubmit:hover {
    cursor: pointer;
}
